/* --------------------------------
         *   VARIABLES
-------------------------------- */

$color_01: #050A13;
$color_02: #F2F2F2;
$color_03: #8F1FBF;
$color_04: #A426A6;
$color_05: #D9487D;
$color_06: #EC5925;
$color_07: #bcbcbc;
$color_08: #897999;
$gadient_01: linear-gradient(65deg,
    hsl(29deg 91% 54% / 0.9) 0%,
    hsl(11deg 98% 64% / 0.9) 9%,
    hsl(352deg 92% 64% / 0.9) 18%,
    hsl(336deg 74% 59% / 0.9) 27%,
    hsl(313deg 49% 56% / 0.9) 36%,
    hsl(256deg 56% 67% / 0.9) 45%,
    hsl(212deg 80% 63% / 0.9) 55%,
    hsl(195deg 83% 49% / 0.9) 64%,
    hsl(186deg 100% 41% / 0.9) 73%,
    hsl(176deg 100% 38% / 0.9) 82%,
    hsl(155deg 49% 51% / 0.9) 91%,
    hsl(105deg 39% 57% / 0.9) 100%);
$gradient_02: linear-gradient(45deg, rgba(242, 94, 19, 1) 25%, rgba(146, 12, 242, 1) 75%);
$gradient_03: linear-gradient(135deg, rgba(153, 145, 47, 1) 0%, rgba(47, 131, 153, 1) 25%, rgba(157, 33, 191, 1) 55%, rgba(217, 72, 125, 1) 80%);

.gradient-text {
  background: $gradient_02;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

//? shodow:
$shodow: #000;
$alpha: .3;

//? bottoni:
$create: #263B40;
$back: #263B40;
$show: #0066ff;
$edit: #ffcc00;
$delete: #D96055;
$success: #006622;
$error: #B30000;
$success_bg: rgb(0, 179, 0, .3);
$error_bg: rgb(179, 0, 0, .3);
